{% extends 'common/profilebase.html' %}
{% block box %}
            <form class="card-body" method="post">
                {% csrf_token %}
                <div class="border border-primary rounded w-50 my-3" >
                    <div class="form-group p-3 m-3 rounded" style="border:4px solid #0422">
                        <label for="now_password" >현재 패스워드</label>
                        <input type="password" class="form-control" id="now_password" name="now_password"
                            value="">
                    </div>
                </div>
                <div class="border border-primary rounded w-50 my-3" >
                    <div class="form-group p-3 m-3 rounded" style="border:4px solid #0422">
                        <label for="password1" >변경 패스워드</label>
                        <input type="password" class="form-control" id="password1" name="password1"
                            value="">
                    </div>
                </div>
                <div class="border border-primary rounded w-50 my-3">
                    <div class="form-group p-3 m-3" style="border:4px solid #0422">
                        <label for="password2">변경 패스워드 확인</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                        value="">
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary mt-3 float-right">변경</button>
            </form>
{% endblock %}