{% extends 'base.html' %}
{% block style %}

{% endblock %}
{% block content %}
{% load static %}
<div class="container mx-auto" style="margin:7rem">
    {% include 'form_errors.html' %}
    <div class="row">
<!--        유저 정보-->
        <div class="col-4 card">
            {%if profile.photo %}
            <img src="{{ profile.photo.url }}" class="card-top-img img-thumbnail" style="margin:auto">
            {% else %}
            <img src="{% static 'people/noimg.jpg' %}" class="card-top-img img-thumbnail" style="margin:auto">
            {% endif %}
            <ul class="list-group my-3">
                <li class="list-group-item"><a href="{% url 'common:profile' profile.user.id %}">질문&답변</a></li>
                <li class="list-group-item"><a href="{% url 'common:userinfo' profile.user.id %}" >개인정보</a></li>
                <li class="list-group-item"><a href="#">비밀번호 수정</a></li>
                <li class="list-group-item"><a href="#" class="text-danger" data-toggle="modal" data-target="#drop_out">회원탈퇴</a></li>
            </ul>
        </div>
        {% include 'common/drop_out.html' %}
        <div class="col-8 card">
            <form class="card-body" method="post">
                {% csrf_token %}
                <div class="border border-primary rounded w-50 my-3" >
                    <div class="form-group p-3 m-3 rounded" style="border:4px solid #0422">
                        <label for="now_password" >현재 패스워드</label>
                        <input type="password" class="form-control" id="now_password" name="now_password"
                            value="">
                    </div>
                </div>
                <div class="border border-primary rounded w-50 my-3" >
                    <div class="form-group p-3 m-3 rounded" style="border:4px solid #0422">
                        <label for="password1" >변경 패스워드</label>
                        <input type="password" class="form-control" id="password1" name="password1"
                            value="">
                    </div>
                </div>
                <div class="border border-primary rounded w-50 my-3">
                    <div class="form-group p-3 m-3" style="border:4px solid #0422">
                        <label for="password2">변경 패스워드 확인</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                        value="">
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary mt-3 float-right">변경</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function(){
        $('.drop').on('click',function(){
            location.href="{% url 'common:dropout' profile.user.id %}"
        })
    })
</script>
{% endblock %}